<!DOCTYPE html>
<html>
<head>
    <title>Editable Todo App - AngularJs Demo</title>
    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/lib/angular.js"></script>
    <script src="js/editableTodoCtrl.js"></script>
</head>
<body ng-app>
<h1>My (editable)Todo list</h1>

<div ng-controller="EditableTodoCtrl">
    <div>{{remaining()}} of {{todoList.length}} Remaining</div>
    <form>
        <ul ng-repeat="todo in todoList">
            <li>
                <input id="input-{{$index + 1}}"
                       type="checkbox"
                       ng-model="todo.completed" />
                <label for="input-{{$index + 1}}"
                       ng-class="{completed: todo.completed, hide: todo.beingEdited}">
                    {{todo.text}}
                </label>
                <input type="text" ng-model="todo.text"
                       ng-class="{hide: !todo.beingEdited}"
                       ng-focus="!todo.beingEdited"
                       ng-blur="makeEditable(todo, false)" />
                <button class="edit-button"
                        ng-click="makeEditable(todo, true)"
                        ng-class="{hide: todo.beingEdited}">
                    Edit
                </button>
                <button class="remove-button" ng-click="remove($index)">
                    Remove
                </button>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="New Task" ng-model="newTodo" />
            <input type="submit" ng-click="add()" value="Add" />
        </div>
    </form>
    <div ng-class="{hide: !(todoList.length - remaining())}">
        <button ng-click="clearCompleted()">Clear completed</button>
    </div>
</div>

</body>
</html>