<form>
    <div class="messageBox" ng-show="message">
        {{ message }}
    </div>

    <div>
        <label for="usernameInput">Username:</label>
        <input id="usernameInput" type="text" ng-model="username" />
    </div>
    <div>
        <label for="passwordInput">Password:</label>
        <input id="passwordInput" type="password" ng-model="password" />
    </div>
    <input type="submit"
           value="Login"
           ng-click="login()"
           ng-disabled="buttonsDisabled" />
    <input type="button"
           value="Reset"
           ng-click="reset()"
           ng-disabled="buttonsDisabled" />
</form>
<style>
    .messageBox {
        border: 1px solid red;
        margin-bottom: 15px;
        padding: 7px;
        width: 400px;
    }
</style>
