<div>
    <h1>My Todo list</h1>

    <div>{{remaining()}} of {{todoList.length}} Remaining</div>
    <form>
        <ul>
            <li ng-repeat="todo in todoList">
                <input id="input-{{$index + 1}}"
                       type="checkbox"
                       ng-model="todo.completed" />
                <label for="input-{{$index + 1}}"
                       ng-class="{completed: todo.completed}">
                    <todo-text text="{{todo.text}}" />
                </label>
                <button class="remove-button" ng-click="remove($index)">
                    Remove
                </button>
            </li>
        </ul>
        <div>
            <input type="text" placeholder="New Task" ng-model="newTodo" />
            <input type="submit" ng-click="add()" value="Add" />
        </div>
    </form>
    <div ng-class="{hide: !(todoList.length - remaining())}">
        <button ng-click="clearCompleted()">Clear completed</button>
    </div>
</div>