Welcome {{username}}!
<span class="float-right"><a href="#" ng-click="logout()">Logout</a></span>
<br />
<br />
<br />
<div>{{remaining()}} of {{todoList.length}} Remaining</div>
<form>
    <ul ng-repeat="todo in todoList">
        <li>
            <input id="input-{{$index + 1}}" type="checkbox" ng-model="todo.completed" />
            <label for="input-{{$index + 1}}" ng-class="{completed: todo.completed, hide: editFlags[$index]}">{{todo.text}}</label>
            <input type="text" ng-model="todo.text" ng-class="{hide: !editFlags[$index]}" ng-focus="!editFlags[$index]" ng-blur="makeEditable($index, false)" />
            <button class="edit-button" ng-click="makeEditable($index, true)" ng-class="{hide: editFlags[$index]}">Edit</button>
            <button class="remove-button" ng-click="remove($index)">Remove</button>
        </li>
    </ul>
    <div><input type="text" placeholder="New Task" ng-model="newTodo"
            /><input type="submit" ng-click="add()" value="Add" /></div>
</form>
<div ng-class="{hide: !(todoList.length - remaining())}"><button ng-click="clearCompleted()">Clear completed</button></div>