
body {
    font-family: 'verdana', 'helvetica', 'arial';
    font-size: 18px;
    color: #555;
    padding: 30px 25px 50px;
    background-color: #ccc;
}

.completed {
    text-decoration: line-through;
}

li {
    list-style: none;
}
input[type=checkbox] {
    margin-right: 5px;
}

.remove-button,
.edit-button {
    margin-left: 10px;
}

.hide {
    display: none;
}

float-right {
    float: right;
}