
body {
    padding: 20px;
}
.tabsContainer {
    border: 1px solid green;
    margin-top: 10px;
    padding: 20px;
    width: 600px;
    height: 400px;
    border-radius: 0 0 20px 20px;
}
.tabsContainer div {
    width: 100%;
    height: 100%;
    opacity: 0.75;
}
.tab {
    border: 1px solid red;
    width: 75px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}
.active {
    color: red;
    border-color: green;
    background-color: yellow;
}
.inactive {
    color: green;
}
div.active {
    color: black;
    border-color: green;
}